.header{
    padding: 50px 0;
    color: $primary;
}

.header-title{
    font-size: 48px !important;
    margin-bottom: 50px;
}

.header-link{
    font-size: 1.6rem;
    transition: .5s;
}

.header-link:hover{
    background: $primary;
    color: white;
}

.divider{
    background: red;
    width: 100%;
    height: 10px;
}

.header-links-container{
    width: 100%;

}

.header-links-container::before{
    display: inline-block;
    color: #d9d9d9;
    border-bottom: 2px solid #d9d9d9;
    content: '';
    width: 100%;
    flex: 1 1 1px;
    position: relative;
    transform: translate(0, -50%);
}

.header-links-container::after{
    display: inline-block;
    color: #d9d9d9;
    border-bottom: 2px solid #d9d9d9;
    content: '';
    width: 100%;
    flex: 1 1 1px;
    position: relative;
    transform: translate(0, -50%);
}
