.hero-container{
    background-size: contain;
    background: url('https://primary.jwwb.nl/pexels/39/39361.jpeg') no-repeat center;
    height: 50vh;
}

.hero{
    max-width: 980px;
    color: white;
}
