.reviews-container{
    width: 400px;
    @media (max-width: 980px){
        width: 980px;
    }
}

.review-image{
    width: 400px;
    @media (min-width: 980px){
        width: 980px;
    }
}

.review-body{
    width: 200px;
    @media (min-width: 980px){
        width: 670px;
    }
}
